.LoginComponent {
  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    box-shadow: 1px 5px 10px #ccc;
    border-radius: 3px;
    padding: 20px 10px;

    form.login-form {
      .example-full-width {
        display: block;

      }
      /deep/ mat-form-field {
        .mat-form-field-infix {
          display: flex;
        }
      }
      button.login-btn {
        width: 100%;
      }
    }
  }

}
