
<div class="BillInfoCompo container">

  <div class="row">
    <div class="col-sm-4 left">
      <h3>Please enter your billing Info </h3>
      <form #orderBillForm="ngForm">
        <mat-radio-group name="pickODelivery" [(ngModel)]="bill.pickODelivery">
          <mat-radio-button value="pick">Pick up</mat-radio-button>
          <mat-radio-button value="delivery">Delivery</mat-radio-button>
        </mat-radio-group>

        <div class="radio-link-container">
          <div [hidden]="bill.pickODelivery === 'delivery' || bill.pickODelivery === ''"  class="radio-link pick-up-lo">
            <label>Our pick locations:</label>
            <p>
              101 Kha Dillibazar Height<br/>
              Dillibazar - 33<br/>
              Kathmandu, Nepal
            </p>
          </div>

          <div [hidden]="bill.pickODelivery === 'pick' || bill.pickODelivery === ''" class="radio-link delivery">
            <label>Delivery charge of Rs.50 inside the Kathmandu Valley.</label>
          </div>
        </div>



        <mat-form-field class="example-full-width" >
          <input matInput required placeholder="Deliver Address"
                 name="deliver address" >

        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput required placeholder="Phone number"
                 name="deliver address" >

        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput required placeholder="Deliver Address"
                 name="deliver address" >

        </mat-form-field>

        <button mat-button type="submit">Submit</button>
      </form>
    </div>
    <div class="col-sm-2"></div>

    <div class="col-sm-4 right" *ngIf="prodSpData">
      <h3>Your Order</h3>

      <div class="row">
        <div class="circle mm">
          <img src="../../../assets/img/{{prodSpData.imageUrl}}.jpg"
               alt="{{prodSpData.title}}">
        </div>
        <div class="description">
          <span>{{prodSpData.title}}</span>
          <span>Rs.{{prodSpData.price}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
