<div class="container">
  <div class="row">
    <div class="cart col-sm-8">
      <div class="box-outer">
        <div class="panel">
          <span>Your Cart</span>
          <span> ({{result.length}})</span>
        </div>
        <div class="product-container">
          <div class="product-row row" *ngFor="let item of result">
            <div class="square col-sm-2">
              <img src="../../../assets/img/{{item.imageUrl}}.jpg"
                   alt="{{item.title}}">
            </div>

            <div class="description col-sm-4">
              <div class="title">{{item.title}}</div>
              <div class="type">Type: {{item.type}}</div>
              <div class="price">Price: {{item.price}}</div>
              <div class="row">
                <div class="button-group">
                  <button>Remove</button>
                  <button>Edit</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="summary col-sm-4">

    </div>
  </div>


</div>

