<h1 style="text-align: center">Your Shopping Cart</h1>

<!--<div class="row display-view">-->
  <!--<div class="repeater" *ngFor="let item of result">-->
    <!--<div class="circle" (click)="getProdDetails(item.id)">-->
      <!--<img class="prod-img" src="../../../assets/img/{{item.imageUrl}}.jpg" alt="{{item.title}}">-->
      <!--<h5 style="text-align: center">{{item.title}}</h5>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="cart-container">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let item of result">
      <td class="flex-it">
        <div class="square">
          <img src="../../../assets/img/{{item.imageUrl}}.jpg" alt="">
        </div>

        <span class="title">{{item.title}}</span>
      </td>
      <td>1</td>
      <th><a style="cursor: pointer" (click)="removeCartItem(item.id)" >X</a></th>
      <th>{{item.price}}</th>
    </tr>
  </table>
</div>
