.box-outer {
  .square img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
  }
  .panel {
    background: #f0f0f0;
    padding: 15px 20px;
    border-radius: 3px;
    color: #0000008a;
  }
  .product-container {
    padding: 25px 25px;
    .product-row {
      margin-bottom: 25px;

      .description {
        .title {
          margin-bottom: 10px;
        }
        *:not(.title) {
          font-size: 12px;
        }
      }
    }
  }
}
