<mat-toolbar>
  <!--navigation-->
  <nav>
    <button mat-button routerLink="/add-product" routerLinkActive="active">Add Product</button>
    <button mat-button routerLink="/display" routerLinkActive="active">Display</button>
  </nav>

  <!--loginBtn-->
  <div class="log-con">
    <button *ngIf="!checkAuth()" mat-raised-button
            color="accent" (click)="login()">Login
    </button>
  </div>

  <!--userInfo-->
  <div class="user-info" *ngIf="checkAuth()">
    <span class="user-name"
          *ngIf="authService.currentUser">{{authService.currentUser.displayName}}
    </span>
    <button mat-button [matMenuTriggerFor]="menu">
      <a class="user-img-cont">
        <img src="{{authService.currentUser.photoURL}}" alt="">
      </a>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="logout()">Logout
      </button>
      <button mat-menu-item>Settings</button>
    </mat-menu>
  </div>
</mat-toolbar>





