.mat-toolbar {
  justify-content: space-between;
  box-shadow: 0 5px 21px -2px #99bdff;
  margin-bottom: 25px;
  background: #ff8400;
  color: #ffffff;
  nav {
    button.active {
      border-bottom: 2px solid crimson;
      border-radius: 0;
    }
  }
  .log-con  button {
    background: crimson;
    color: #ffffff;
  }
  .user-info {
    display: flex;

    .user-name {
      //text-shadow: 1px 2px midnightblue;
      color: #ffffff;
      align-self: center;
    }

    .user-name {
      font-size: 14px;
      margin-right: 10px;
    }
    .mat-button {
      z-index: 123;
      font-size: 10px;
    }
    .user-img-cont {
      border-radius: 94px;
      border: 1.5px solid crimson;
      width: 40px;
      height: 40px;
      display: inline-block;

      img {
        width: 40px;
        border-radius: 99px;
      }
    }
    .cart-container {
      position: relative;
      .cart-count {
        color: #ffffff;
        position: absolute;
        bottom: 10px;
        right: 2px;
        font-size: 13px;
      }
      button {
        padding: 0 13px;
        min-width: 50px;
        i.fa-shopping-basket {
          color: #ffffff;
          font-size: 18px;
        }
      }
    }
  }
}

.mat-menu-item {
  font-size: 12px;
  font-weight: 500;

}

.right-corner {
  margin-right: 40px;
}



