.mat-toolbar {
  justify-content: space-between;
  box-shadow: 0 5px 21px -2px #cccccc;
  margin-bottom: 25px;
  nav {
    button.active {
      border-bottom: 2px solid #ff4081;
      border-radius: 0;
    }
  }
  .log-con {

  }
  .user-info {
    display: flex;

    .user-name {
      font-size: 14px;
      margin-right: 10px;
    }
    .mat-button {
      z-index: 123;
      font-size: 10px;
    }
    .user-img-cont {
      border-radius: 94px;
      border: 1.5px solid #ff4081;
      width: 35px;
      height: 35px;
      display: inline-block;

      img {
        width: 35px;
        border-radius: 99px;
      }
    }
  }
}

.mat-menu-item {
  font-size: 12px;
  font-weight: 500;

}



