<mat-toolbar>
  <!--navigation-->
  <nav>
    <button mat-button (click)="navToAddProd()" routerLinkActive="active">Add Product</button>
    <button mat-button routerLink="/display" routerLinkActive="active">Display</button>
  </nav>

  <!--loginBtn-->
  <div class="log-con">
    <button *ngIf="!checkAuth()" mat-raised-button
            color="accent" (click)="login()">Login
    </button>
  </div>


  <!--userInfo-->
  <div class="user-info" *ngIf="checkAuth()">
    <app-weather></app-weather>
    <span class="user-name"
          *ngIf="authService.currentUser">{{authService.currentUser.displayName}}
    </span>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="authService.currentUser">
      <a class="user-img-cont">
        <img src="{{authService.currentUser.photoURL}}" alt="">
      </a>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="logout()">Logout
      </button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item routerLink="/wish-list">Wish list</button>
    </mat-menu>
    <div class="cart-container">
      <div *ngIf="cartItems && cartItems.length > 0"
           class="cart-count">{{cartItems.length}}</div>
      <button routerLink="/cart" mat-button><i class="fa fa-shopping-basket"></i></button>
    </div>

  </div>
</mat-toolbar>





