
<div class="PassComp container">
  <!--Display Item-->
  <div class="row">

    <div class="add-pass col-sm-5">
      <h3>Add a Product</h3>
      <!--<span>A safe and secure way to never loose your password and have a quick and easy access.</span>-->

      <form name="addProd" (ngSubmit)="onSubmit($event, item)" class="add-pass-form">
        <!--TYPE-->
        <mat-form-field>
          <mat-select placeholder="Type of Product">
            <mat-option *ngFor="let type of prodTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--PRODUCT TITLE-->
        <mat-form-field class="example-full-width outlet">
          <input matInput placeholder="Title"
                 name="outlet" [(ngModel)]="item.title">
          <a *ngIf="item.title" (click)="clearInput(item.title)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--DESCRIPTION-->
        <mat-form-field class="example-full-width username">
          <input matInput placeholder="Description" name="username"
                 [(ngModel)]="item.description">
          <a *ngIf="item.description"
             (click)="clearInput(item.description)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--PRICE-->
        <mat-form-field class="example-full-width passowrd">
          <input matInput placeholder="Price"
                 name="password" [(ngModel)]="item.price">
          <a *ngIf="item.price" (click)="clearInput(item.price)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--IMAGE URL-->
        <mat-form-field class="example-full-width hint">
          <input matInput placeholder="Image Url"
                 name="hint" [(ngModel)]="item.imageUrl">
          <a *ngIf="item.imageUrl" (click)="clearInput(item.imageUrl)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--SUBMIT-->
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </div>
  </div>
  <!--Add Item-->
</div>
