.PassComp {
  .mat-expansion-panel-content {
    z-index: 123123!important;
  }
  .add-pass, .display-pass {
    width: 100%;
  }
  .display-pass {

    .mat-accordion {
      z-index: 123;

      .ng-trigger-bodyExpansion {
        z-index: 123;
      }

      .mat-expansion-panel {
        background: rgba(0,0,0,.04);
        box-shadow: 0 5px 21px -2px #cccccc;
        margin-bottom: 25px;

        .username-co {
          z-index: 11;
          margin-top: 10px;
        }
        .ng-trigger-bodyExpansion {
          z-index: 12;
        }

        .mat-expansion-panel-header {
          z-index: 111;


          .mat-content {
            z-index: 11115;
          }
        }

        &.mat-expanded {
          z-index: 123123123;
          //background: red;

          .mat-expansion-panel-header {
            background: #bde0ff;

            .mat-expansion-panel-header-title {
              color: #ffff;
            }
          }

          .mat-expansion-panel-body {
            z-index: 123123!important;
          }

          .mat-expansion-panel-content {
            z-index: 123;
            margin-top: 10px;
          }
          .mat-expansion-panel-content, div {
            z-index: 1231!important;
          }
        }

      }
    }

    div[class$="-co"] {
      position: relative;
      span {
        position: absolute;
        left: 100px;
      }
    }
  }
}
