.PassComp {
  margin-top: 20px;
  margin-bottom: 20px;
  .mat-expansion-panel-content {

  }
  .add-pass, .display-pass {
    width: 100%;
    text-align: center;
  }
  .add-pass {
    margin-left: 20px;
    .example-full-width {
      display: block;
    }
    form.add-pass-form {
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      /deep/ mat-form-field {
        .mat-form-field-infix {
          display: flex;
        }
        a.clear-input {
          cursor: pointer;
        }
      }

      button {
        margin-top: 25px;
      }
    }
  }
}
