.PassComp {
  margin-top: 20px;
  margin-bottom: 20px;

  .add-prod, .preview-prod {
    width: 100%;
    text-align: center;
  }
  .add-prod {
    .example-full-width {
      display: block;
    }
    form.add-pass-form {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      position: relative;

      /deep/ mat-form-field {
        .mat-form-field-infix {
          display: flex;
        }
        &.uid {
          position: relative;

          .last-uid {
            position: absolute;
            top: 35px;
            color: #515152;
            font-size: 12px;
            left: 351px;
          }
        }
      }

      button.add-prod-btn {
        margin-top: 25px;
        background: #ffded8;

        &.valid {
          background: #ff5e40;
        }
      }
      a.add-img-btn {
        border-radius: 100px;
        margin: 0 auto;
        padding: 0 13px;
        min-width: 15px;
      }
      .image-count {
        text-align: end;
        position: absolute;
        top: 45px;
        left: 290px;
        label {
          font-family: Roboto, "Helvetica Neue", sans-serif;
          color: #515152;
          font-size: 12px;
          margin-right: 10px;
        }
        a.img-count-link {
          cursor: pointer;
          border-radius: 99px;
          border: 1px solid #108bc8;
          margin-right: 10px;
          color: #515152;
          font-size: 11px;
          padding: 0 4px;

          &.active {
            background: #108bc8;
            color: #ffffff;
          }
        }
      }
    }
  }
  .preview-prod {
    h3 {}
    .prod-preview-container {
      display: flex;
      justify-content: center;

      .prod-details {
        text-align: left;
        padding-top: 20px;

        h5.prod-name {

        }
        h5.prod-price {
          display: inline;
        }
        p.prod-description {
          max-width: 200px;
          font-size: 12px;
        }
      }
    }
  }
}
