
<div class="PassComp container">
  <div class="row">
    <div class="add-prod col-sm-5">
      <h3>Add a Product</h3>

      <form  name="addProd" #addProdForm="ngForm"
             (ngSubmit)="onSubmit(addProdForm)" class="add-pass-form">
        <!--TYPE-->
        <mat-form-field>
          <mat-select required placeholder="Type of Product"
                      name="type" [(ngModel)]="item.type" >
            <mat-option *ngFor="let type of prodTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

       <!--Todo: Add Id as a Property of Product to use in Param-->

        <!--IMAGE URL-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Image Url"
                 name="imageUrl" [(ngModel)]="item.imageUrl">
          <a *ngIf="item.imageUrl" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <a mat-raised-button class="add-img-btn"
           *ngIf="item.imageUrl && !showAddImageTwo" (click)="showAddImgTwo()">
          <i class="fa fa-plus"></i>
        </a>

        <!--IMAGE URL TWO-->
        <mat-form-field class="example-full-width" *ngIf="showAddImageTwo">
          <input matInput placeholder="Additional Image Url"
                 name="imageUrlTwo" [(ngModel)]="item.imageUrlTwo">
          <a *ngIf="item.imageUrlTwo" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <a mat-raised-button class="add-img-btn"
           *ngIf="item.imageUrlTwo && !showAddImageThree" (click)="showAddImgThree()">
          <i class="fa fa-plus"></i>
        </a>

        <!--IMAGE URL THREE-->
        <mat-form-field class="example-full-width" *ngIf="showAddImageThree">
          <input matInput placeholder="Additional Image Url"
                 name="imageUrlTwo" [(ngModel)]="item.imageUrlThree">
          <a *ngIf="item.imageUrlThree" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>


        <!--PRODUCT TITLE-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Title"
                 type="text"  name="title"
                 [(ngModel)]="item.title">
          <a *ngIf="item.title" (click)="clearInput($event)"
          class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--DESCRIPTION-->
        <mat-form-field class="example-full-width">
          <input matInput required  placeholder="Description"
                 name="description" type="text"
                 [(ngModel)]="item.description">
          <a *ngIf="item.description" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--PRICE-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Price"
                 type="number" name="price"
                 [(ngModel)]="item.price">
          <a *ngIf="item.price" (click)="clearInput($event)"
          class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--PRIME COLOR-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Prime Color"
                 type="text" name="primeColor"
                 [(ngModel)]="item.primeColor">
          <a *ngIf="item.primeColor" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--SUBMIT-->
        <button class="add-prod-btn" *ngIf="addProdForm.valid" type="submit"
                mat-raised-button color="accent">Add Product</button>
      </form>
    </div>

    <!--OFFSET DIV-->
    <div class="col-sm-1"></div>
    <div class="preview-prod col-sm-5">
      <h3>Product Preview</h3>

      <div class="prod-preview-container">
        <!--image-->
        <div *ngIf="item.imageUrl" class="circle">
          <img class="prod-img" src="../../../assets/img/{{item.imageUrl}}.jpg" alt="">
        </div>
        <div class="prod-details">
          <h4 class="prod-name">{{item.title}}</h4>
          <span *ngIf="item.price">Rs. </span><h5 class="prod-price">{{item.price}}</h5>
          <p class="prod-description">{{item.description}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<app-proddisplay></app-proddisplay>
