
<div class="PassComp container">
  <!--Display Item-->
  <div class="row">
    <div class="display-pass col-sm-5">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let pass of passData" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{pass.outlet}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="username-co">
            <label>Username</label>
            <span>:{{pass.username}}</span>
          </div>

          <div class="password-co">
            <label>Password</label>
            <span>:{{pass.password}}</span>
          </div>

          <div class="hint-co">
            <label>Hint</label>
            <span>:{{pass.hint}}</span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-sm-1"></div>
    <div class="add-pass col-sm-5">
      <h3>Save your passwords</h3>
      <span>A safe and secure way to never loose your password and have a quick and easy access.</span>

      <form (ngSubmit)="onSubmit($event, item)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Outlet"
                 name="outlet" [(ngModel)]="item.outlet">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="username"
                 [(ngModel)]="item.username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password"
                 name="password" [(ngModel)]="item.password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hint"
                 name="hint" [(ngModel)]="item.hint">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </div>
  </div>
  <!--Add Item-->
</div>
