.app-component {
  margin-left: 19px;
  margin-right: 19px;
  transition: margin 0.3s ease;

  &.get-sticky {
    margin: 0!important;
  }
}

.flex-item {
  display: flex;
  justify-content: flex-end;

  &.get-sticky {
    margin-top: 107px;
  }
}
body {
  z-index: 123123;
}
