<div class="row display-view">
  <div class="repeater" [ngClass]="getHeartActive()" *ngFor="let item of proditemData | prodFilter: filterType | prodPriceFilter: filterPrice | prodColorFilter: filterColor">
    <a *ngIf="fromWishList" class="remove-item" (click)="removeItem(item.id)"><i class="fa fa-times-circle"></i></a>
    <div class="circle" (mouseenter)="circleMEnter()" (mouseleave)="circleMOut()"
         [ngClass]="getDemClass(item.imgDem)" (click)="getProdDetails(item.id)">
      <img class="prod-img" src="../../../assets/img/{{item.imageUrl}}.jpg" alt="{{item.title}}">
      <div class="title">{{item.title}}</div>
      <div class="price">Rs. {{item.price}} </div>
    </div>
    <span [ngClass]="getActive()">
      <a (mouseenter)="heartHovered()"
         (mouseleave)="heartHoveredNot()"
         class="fa fa-heart-o"
         [ngClass]="getDemClass(item.imgDem)"
         (click)="addToWishList()">
      </a>
    </span>


  </div>
</div>

