.display-view .repeater {
  position: relative;
  a.remove-item {
    position: absolute;
    right: 0;
    color: orangered;
    cursor: pointer;
    font-size: 20px;
    opacity: .5;
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
    }
  }
  .circle {
    &:hover {
      .banner {
        display: block;
        top: -24px;
        background: #ff9b21;
        color: #0d0d0d;
      }
    }
    .banner {
      background: transparent;
      position: relative;
      bottom: 23px;
      color: transparent;
      transition: top .4s ease, background 1s ease, color 1s ease;
      float: right;
      width: 163px;
      padding-left: 14px;
      border-bottom-right-radius: 8px;
      top: -4px;
    }
  }
}
