
<div class="ProdDisplayComp container" *ngIf="prodSpData">
  <div class="row">
      <div class="col-sm-4 img-container row">
        <div class="primary-img">
          <img *ngIf="imgCaro === 1" class="prod-img" src="../../../assets/img/{{prodSpData.imageUrl}}.jpg"
               alt="{{prodSpData.title}}">
          <img *ngIf="imgCaro === 2" class="prod-img" src="../../../assets/img/{{prodSpData.imageUrlTwo}}.jpg"
               alt="{{prodSpData.title}}">
          <img *ngIf="imgCaro === 3" class="prod-img" src="../../../assets/img/{{prodSpData.imageUrlThree}}.jpg"
               alt="{{prodSpData.title}}">
          <img *ngIf="imgCaro === 4" class="prod-img" src="../../../assets/img/{{prodSpData.imageUrlFour}}.jpg"
               alt="{{prodSpData.title}}">
        </div>

        <div class="extra-img-thumbnails">
          <a class="extra-img-link" [ngClass]="{'active': imgCaro === 1}" *ngIf="prodSpData.imageUrl" (click)="imgCaros(1)">
            <img class="prod-img"
                 src="../../../assets/img/{{prodSpData.imageUrl}}.jpg"
                 alt="{{prodSpData.title}}">
          </a>
          <a class="extra-img-link" [ngClass]="{'active': imgCaro === 2}" *ngIf="prodSpData.imageUrlTwo" (click)="imgCaros(2)">
            <img class="prod-img"
                 src="../../../assets/img/{{prodSpData.imageUrlTwo}}.jpg"
                 alt="{{prodSpData.title}}">
          </a>
          <a class="extra-img-link" [ngClass]="{'active': imgCaro === 3}" *ngIf="prodSpData.imageUrlThree" (click)="imgCaros(3)">
            <img class="prod-img"
                 src="../../../assets/img/{{prodSpData.imageUrlThree}}.jpg"
                 alt="{{prodSpData.title}}">
          </a>

          <a class="extra-img-link" [ngClass]="{'active': imgCaro === 4}" *ngIf="prodSpData.imageUrlFour" (click)="imgCaros(4)">
            <img class="prod-img"
                 src="../../../assets/img/{{prodSpData.imageUrlFour}}.jpg"
                 alt="{{prodSpData.title}}">
          </a>
        </div>
      </div>
      <!--Text-->
      <div class="col-sm-2"></div>
      <div class="col-sm-4 details-container" *ngIf="prodSpData">
        <h3 class="title">{{prodSpData.title}}
          <a class="atwl fa"
             [ngClass]="getWlClass()"
             (click)="addToWishList(prodSpData.id)">
          </a>
        </h3>

        <div class="description">
          {{prodSpData.description}}
        </div>
        <h4>
          <span *ngIf="prodSpData.price">Rs.</span> {{prodSpData.price}}
        </h4>

        <button class="buy" (click)="buy(prodSpData.id)" mat-button>
          <i class="fa fa-credit-card"></i><span>Buy</span>
        </button>

        <button class="atc" mat-button
                [ngClass]="getCartClass()"
                [disabled]="addedToCart"
                (click)="addToCart(prodSpData.id)">
          <i class="fa fa-shopping-cart"></i>
          <span *ngIf="!addedToCart">Add to Cart</span>
          <span *ngIf="addedToCart">Added to Cart</span>
        </button>
      </div>
    </div>
  <div class="row related-prod">
    <!--complementaryProd-->
    <app-gallerize [proditemData]="resArr"></app-gallerize>

    <!--SubstituteProd-->
    <app-gallerize [proditemData]="proditemData"
                   [filterColor]="prodSpColor"
                   [filterType]="prodSpType"
                   [selfId]="selfId">
    </app-gallerize>
  </div>
</div>


