<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 logo">
        <img src="../../../assets/img/logo.png" alt="">
      </div>
      <div class="col-sm-4 contact-info">
        <div class="address">
          <p class="label">ADDRESS</p>
          <span>1016 Kha Dillibazar Height</span><br/>
          <span>Dillibazar, Kathmandu</span>
        </div>
        <div class="contact">
          <p class="label">CONTACT</p>
          <div>

            <a href="tel:123-456-7890"><i class="fa fa-phone"></i> 123-456-7890</a>
          </div>

          <div>

            <a href = "mailto: smanandhar877@gmail.com"><i class="fa fa-envelope-o "></i> jewelsofnepal@gmail.com</a>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>



